#section-one {
  background-color: $color-bg;
  padding: 1.3rem 0;
  .section-one {
    @include flexbox();
    .section-right {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 30px;
      p {
        color: $color-pink;
        font-weight: 700;
        font-size: 24px;
      }
      h1 {
        font-weight: 700;
        // font-family: "Rubik", sans-serif;
      }
      span {
        font-size: 16px;
        line-height: 27.2px;
        width: 450px;
        // font-family: "Poppins", sans-serif;
      }
      // .section-button {
      //   .section-btn {
      //     @extend %primary-btn;
      //   }
      // }
    }
    .section-left {
      width: 50%;
      img {
        width: 80%;
      }
    }
  }
  @media screen and (max-width: 767px) {
    .section-one {
      flex-direction: column-reverse;
      .section-right {
        width: 100%;
        align-items: center;
      }
      .section-left {
        width: 100%;
      }
    }
  }
}
#section-two {
  background-color: #f7f7f7;
  padding: 2.5rem 0;
  .section-two {
    a {
      color: $color-black;
      padding: 40px;
      font-size: 16px;
      .fa-solid {
        color: $primary-color;
        margin-right: 8px;
        font-size: 20px;
      }
    }
  }
  @media screen and (max-width: 767px) {
    .section-two {
      display: none;
    }
  }
}
