/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 18px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .container {
    padding: 0 5%;
  }
}

.section-btn {
  color: #fff;
  width: 192px;
  height: 52px;
  border-radius: 5px;
  border: none;
  background-color: #007878;
  cursor: pointer;
  transition: all 0.5s;
}
.section-btn:hover {
  background-color: transparent;
  border: 2px solid #007878;
  color: #007878;
}

.button {
  padding: 5px 8px;
  background-color: #43d167;
  color: white;
  border-radius: 5px;
  border: none;
  transition: all 0.5s;
}
.button:hover {
  transform: scale(1.1);
}

.products-button {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  margin-top: 30px;
  cursor: pointer;
  transition: all 0.5s;
}
.products-button:hover {
  background-color: #ffe2e0;
  color: #df4244;
  border: none;
  transform: scale(1.1);
}

.footer-button {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #212121;
  transition: all 0.5s;
}
.footer-button:hover {
  background-color: #007878;
  border: none;
  transform: scale(1.1);
}

#header .header-top {
  background-color: #007878;
  padding: 1rem 0;
}
#header .header-top .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .header-top .header .fa-solid {
  margin-right: 10px;
  color: #fff;
}
#header .header-top .header .phone {
  color: #fff;
}
#header .header-top .header nav ul {
  display: flex;
  gap: 30px;
}
#header .header-top .header nav ul li a {
  color: #fff;
  transition: all 1s;
}
#header .header-top .header nav ul li a:hover {
  border-bottom: 1px solid #fff;
}
#header .header-top .header .menu-icons {
  font-size: 25px;
  display: none;
}
#header .header-bottom {
  padding: 3rem 0;
}
#header .header-bottom .hero-banner-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .header-bottom .hero-banner-section h1 {
  font-weight: 700;
  font-family: "Palanquin Dark", sans-serif;
}
#header .header-bottom .hero-banner-section .input-icons {
  position: relative;
}
#header .header-bottom .hero-banner-section .input-icons input {
  width: 504px;
  padding: 10px 0;
  border-radius: 5px;
  border: none;
  outline: none;
  padding-left: 10px;
  padding-right: 25px;
  background-color: #f7f9fc;
}
#header .header-bottom .hero-banner-section .input-icons input::-moz-placeholder {
  color: #aaaaaa;
}
#header .header-bottom .hero-banner-section .input-icons input::placeholder {
  color: #aaaaaa;
}
#header .header-bottom .hero-banner-section .input-icons .fa-solid {
  position: absolute;
  top: 8px;
  right: 5px;
  color: #273142;
}
#header .header-bottom .hero-banner-section nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
#header .header-bottom .hero-banner-section nav ul li a {
  color: #2e2e2e;
}
#header .header-bottom .hero-banner-section nav ul li a .icons {
  margin-right: 8px;
}
#header .header-bottom .hero-banner-section-two {
  margin-top: 30px;
}
#header .header-bottom .hero-banner-section-two nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .header-bottom .hero-banner-section-two nav ul li a {
  color: #273142;
  padding: 10px;
}
@media screen and (max-width: 767px) {
  #header .header-bottom .header-top .header nav {
    display: none;
  }
  #header .header-bottom .header-top .header .menu-icons {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  #header .header-bottom .hero-banner-section .input-icons {
    display: none;
  }
  #header .header-bottom .hero-banner-section-two {
    display: none;
  }
}

#section-three {
  padding: 2.5rem 0;
}
#section-three .section-three {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}
#section-three .section-three .card {
  background-color: #f5f5f5;
  width: 25%;
  padding: 40px 10px;
  position: relative;
}
#section-three .section-three .card h3 {
  font-weight: 600;
}
#section-three .section-three .card img {
  width: 133px;
  height: 80px;
  position: absolute;
  right: 0;
  bottom: 0;
}
#section-three .products {
  padding: 1.5rem 0;
}
#section-three .products .products-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#section-three .products .products-heading h2 {
  padding: 30px 0;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
#section-three .products .products-container {
  display: flex;
  gap: 30px;
}
#section-three .products .products-container .products-container-icons {
  position: relative;
}
#section-three .products .products-container .card {
  width: 30%;
  border-radius: 5px;
  background-color: #f9f9f9;
}
#section-three .products .products-container .card img {
  width: 350px;
  height: 200px;
  text-align: center;
}
#section-three .products .products-container .card ul {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#section-three .products .products-container .card ul li .fa-star {
  color: yellow;
  font-size: 20px;
}
#section-three .products .products-container .card .button {
  position: absolute;
  top: 0px;
  left: 0;
}
#section-three .products .products-container .card .fa-heart {
  position: absolute;
  color: #df4244;
  right: 0;
}
#section-three .products .products-container .card .lorem {
  width: 302px;
  line-height: 27.2px;
}
#section-three .products .products-container .card .card-from {
  margin-top: 15px;
  display: flex;
  gap: 15px;
}
#section-three .products .products-container .card .card-from .dollars {
  color: #df4244;
  font-weight: 600;
  font-size: 20px;
}
#section-three .products .products-container .card .card-from h6 {
  color: #363636;
}
@media screen and (max-width: 767px) {
  #section-three .section-three {
    flex-direction: column;
    align-items: center;
  }
  #section-three .section-three .card {
    width: 100%;
  }
  #section-three .products .products-heading {
    display: none;
  }
  #section-three .products .products-container {
    flex-direction: column;
    align-items: center;
  }
  #section-three .products .products-container .card {
    width: 100%;
  }
  #section-three .products .products-container .card img {
    width: 100%;
  }
}

#section-four {
  padding: 1.5rem 0;
  background-color: #fff7f7;
}
#section-four .products-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#section-four .products-heading h2 {
  padding: 30px 0;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}
#section-four .products-container-2 {
  display: flex;
  gap: 30px;
}
#section-four .products-container-2 .products-container-icons {
  position: relative;
}
#section-four .products-container-2 .card {
  width: 30%;
  border-radius: 5px;
  background-color: #fff;
}
#section-four .products-container-2 .card img {
  width: 300px;
  height: 200px;
  text-align: center;
}
#section-four .products-container-2 .card ul {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
#section-four .products-container-2 .card ul li .fa-star {
  color: yellow;
  font-size: 20px;
}
#section-four .products-container-2 .card .button {
  position: absolute;
  top: 0px;
  left: 0;
}
#section-four .products-container-2 .card .fa-heart {
  position: absolute;
  color: #df4244;
  right: 0;
}
#section-four .products-container-2 .card .lorem {
  width: 302px;
  line-height: 27.2px;
}
#section-four .products-container-2 .card .card-from {
  margin-top: 15px;
  display: flex;
  gap: 15px;
}
#section-four .products-container-2 .card .card-from .dollars {
  color: #df4244;
  font-weight: 600;
  font-size: 20px;
}
#section-four .products-container-2 .card .card-from h6 {
  color: #363636;
}
@media screen and (max-width: 767px) {
  #section-four .products-heading {
    display: none;
  }
  #section-four .products-container-2 {
    flex-direction: column;
    align-items: center;
  }
  #section-four .products-container-2 .card {
    width: 100%;
  }
  #section-four .products-container-2 .card img {
    width: 100%;
  }
}

#footer {
  padding: 2.5rem 0;
  background-color: #f7f7f9;
}
#footer .footer .footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #273142;
  margin-bottom: 10px;
}
#footer .footer .footer-top h1 {
  margin-bottom: 15px;
}
#footer .footer .footer-top .input-icons {
  position: relative;
  margin-bottom: 15px;
}
#footer .footer .footer-top .input-icons input {
  width: 450px;
  padding: 10px 0;
  border-radius: 5px;
  border: 1px solid #9e9e9e;
  outline: none;
  padding-left: 10px;
  padding-right: 20px;
  background-color: #f7f9fc;
}
#footer .footer .footer-top .input-icons .fa-solid {
  position: absolute;
  top: 10px;
  right: 5px;
  color: #273142;
  font-size: 18px;
}
#footer .footer .footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}
#footer .footer .footer-bottom .footer-contact {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#footer .footer .footer-bottom .footer-contact p {
  width: 300px;
  line-height: 27px;
  color: #212121;
  font-size: 16px;
}
#footer .footer .footer-bottom .footer-contact ul li {
  margin: 10px 0;
}
#footer .footer .footer-bottom .footer-contact ul li a {
  color: #212121;
}
#footer .footer .footer-bottom .footer-contact ul li a i {
  margin-right: 15px;
}
#footer .footer .footer-bottom .footer-contact .footer-button i {
  margin-right: 8px;
}
#footer .footer .footer-bottom .footer-box h3 {
  margin-bottom: 15px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#footer .footer .footer-bottom .footer-box li {
  margin: 10px 0;
}
#footer .footer .footer-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin-top: 15px;
}
#footer .footer .footer-social p {
  color: #212121;
  font-size: 20px;
}
#footer .footer .footer-social .social a .fa-brands {
  color: #212121;
  font-size: 20px;
  padding: 10px;
  transition: all 0.3s;
}
#footer .footer .footer-social .social a .fa-brands:hover {
  color: #007878;
  transform: scale(1.2);
}
@media screen and (max-width: 767px) {
  #footer .footer .footer-top {
    flex-direction: column;
    gap: 20px;
  }
  #footer .footer .footer-top .input-icons input {
    width: 250px;
  }
  #footer .footer .footer-bottom {
    flex-direction: column;
    align-items: center;
  }
  #footer .footer .footer-bottom .footer-contact {
    margin-bottom: 30px;
  }
  #footer .footer .footer-bottom .footer-contact p {
    width: 600px;
  }
  #footer .footer .footer-bottom .footer-contact .footer-button {
    width: 600px;
  }
  #footer .footer .footer-social {
    flex-direction: column;
    gap: 20px;
  }
}

#section-one {
  background-color: #ffe2e0;
  padding: 1.3rem 0;
}
#section-one .section-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#section-one .section-one .section-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#section-one .section-one .section-right p {
  color: #df4244;
  font-weight: 700;
  font-size: 24px;
}
#section-one .section-one .section-right h1 {
  font-weight: 700;
}
#section-one .section-one .section-right span {
  font-size: 16px;
  line-height: 27.2px;
  width: 450px;
}
#section-one .section-one .section-left {
  width: 50%;
}
#section-one .section-one .section-left img {
  width: 80%;
}
@media screen and (max-width: 767px) {
  #section-one .section-one {
    flex-direction: column-reverse;
  }
  #section-one .section-one .section-right {
    width: 100%;
    align-items: center;
  }
  #section-one .section-one .section-left {
    width: 100%;
  }
}

#section-two {
  background-color: #f7f7f7;
  padding: 2.5rem 0;
}
#section-two .section-two a {
  color: #000000;
  padding: 40px;
  font-size: 16px;
}
#section-two .section-two a .fa-solid {
  color: #007878;
  margin-right: 8px;
  font-size: 20px;
}
@media screen and (max-width: 767px) {
  #section-two .section-two {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */