#section-three {
  padding: 2.5rem 0;
  .section-three {
    @include flexbox();
    gap: 12px;
    .card {
      background-color: $color-card-bg;
      width: 25%;
      padding: 40px 10px;
      position: relative;
      h3 {
        // margin: 20px;
        font-weight: 600;
      }
      img {
        width: 133px;
        height: 80px;
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
  }
  .products {
    padding: 1.5rem 0;
    .products-heading {
      @include flexbox();
      h2 {
        padding: 30px 0;
        font-family: "Rubik", sans-serif;
        font-weight: 500;
      }
    }

    .products-container {
      display: flex;
      gap: 30px;
      .products-container-icons {
        position: relative;
      }
      .card {
        width: 30%;
        border-radius: 5px;
        background-color: #f9f9f9;
        img {
          width: 350px;
          height: 200px;
          text-align: center;
        
        }
        ul {
          @include flexbox(center, flex-start);
          li {
            .fa-star {
              color: yellow;
              font-size: 20px;
            }
          }
        }
        .button {
          position: absolute;
          top: 0px;
          left: 0;
        }
        .fa-heart {
          position: absolute;
          color: $color-pink;
          right: 0;
        }
        .lorem {
          width: 302px;
          line-height: 27.2px;
        }
        .card-from {
          margin-top: 15px;
          display: flex;
          gap: 15px;
          .dollars {
            color: $color-pink;
            font-weight: 600;
            font-size: 20px;
          }
          h6 {
            color: $color-gry-two;
          }
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    .section-three {
      flex-direction: column;
      align-items: center;
      .card {
        width: 100%;
      }
    }
    .products {
      .products-heading {
        display: none;
      }
      .products-container {
        flex-direction: column;
        align-items: center;
        .card {
          width: 100%;
          img {
       width: 100%;
          }
        }
      }
    }
  }
}
